{% load static %}
<title>Polls creator for dummies</title>
<link rel="stylesheet" type="text/css" href="{% static 'polls/style2.css' %}">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input type="submit" value="Vote">
</form>
<footer>Anna Marciniak, Wojciech Wawroń, Mateusz Czerwiński, Daniel Kocikowski | 2019</footer>
